
h1 {
text-align: center;
font-family:"Comic Sans MS", cursive, sans-serif ;
font-size: 30px;
font-weight: bold;
margin-bottom: 25px;}

@media (min-width:992px) {
body{
   margin: 15px;
   font-family:"Comic Sans MS", cursive, sans-serif ;
   font-size: 15px;
   font-weight: bold;
 }
p {
  box-sizing: border-box;
  width: 30%;
  height:208px;
  float: left;
  margin:1.6%;
  background-color: grey;
  border: 2px solid black;
  padding: 0px;

  overflow-y: hidden;
}
span {
  float: right;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-bottom:  2px solid black;
  font-size: 18px;

}
#b1 {background-color:pink;
}
#b2 {background-color: red;
}
#b3 {background-color: yellow;}
}
.content {
  border:0px;
  margin:4px 10px 10px 10px;

  font-size: 15px;
  }
@media (min-width:768px) and (max-width:991px) {
  body{
     margin: 15px;
     padding: 0px;
     font-family:"Comic Sans MS", cursive, sans-serif ;
     font-size: 15px;
     font-weight: bold;
   }
  p {
    box-sizing: border-box;
    width: 46%;
    height:190px;
    margin:2%;
    background-color: grey;
    border: 2px solid black;
    padding: 0px;
    float: left;
    overflow-y: hidden;
  }
#p3 {clear: left;
width: 96%;
height: 190px;}
.content {
  border:0px;
  margin:10px;
  font-size: 15px;
  }
  span{
    float: right;
    box-sizing: border-box;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;
  }
  #b1 {background-color:pink;
  }
  #b2 {background-color: red;
  }
  #b3 {background-color: yellow;}
}
@media (max-width:767px) {
  body{
     margin: 15px;
     padding: 10px;
     font-family:"Comic Sans MS", cursive, sans-serif ;
     font-size: 15px;
     font-weight: bold;
     font
   }
   p {
    box-sizing: border-box;
    height:187px;
    width:96%;
    margin:2%;
    background-color: grey;
    border: 2px solid black;
    padding: 0px;
    overflow-y: hidden;

  }
  span{
    float: right;
    box-sizing: border-box;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;

  }
  #b1 {background-color:pink;
  }
  #b2 {background-color: red;
  }
  #b3 {background-color: yellow;}
  .content {
    border:0px;
    margin:10px;
    font-size: 15px;

    }
}
